<div class="well well-lg ">
<table class="table table-striped">
 <caption><h2 class="text-primary">Relationship requests</h2></caption>
  <thead>
    <tr>
      <th>Message</th>
      <th>From</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
		<% if notification.type_notification=="friendship_request"%>
	      <tr>
	        <td><%= notification.text %></td>
	        <td><%= User.find(notification.user_id).name %></td>
	        <td><%= link_to 'Show', notification %></td>
	        <td><%= link_to 'Delete', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
		<%end%>
    <% end %>
  </tbody>
</table>
<table class="table table-striped">
 <caption><h2 class="text-primary">Message</h2></caption>
  <thead>
    <tr>
      <th>Message</th>
      <th>From</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
		<% if notification.type_notification=="message"%>
	      <tr>
	        <td><%= notification.text %></td>
	        <td><%= User.find(notification.user_id).name %></td>
	        <td><%= link_to 'Show', notification %></td>
	        <td><%= link_to 'Delete', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
		<%end%>
    <% end %>
  </tbody>
</table>
</div>
