<div class="well well-lg ">
<p>
  <strong>From:</strong>
  <%= User.find(@notification.user_id).name %>
</p>
<p>
  <strong>Message:</strong>
  <%= @notification.text %>
</p>

<% if @notification.type_notification=="friendship_request"%>
<%= link_to 'Accept', create_friend_path(current_user.id,@notification.user_id),method: :post %>
<%= link_to 'Deny', notifications_path %>
<%end %>
<%= link_to 'Back', notifications_path %>
</div>